/*

   COLORS

*/

/* variables */



/*

   BORDER COLORS

 */

.b--black {
  border-color: #000;
}

.b--near-black {
  border-color: #111;
}

.b--dark-gray {
  border-color: #333;
}

.b--mid-gray {
  border-color: #555;
}

.b--gray {
  border-color: #777;
}

.b--silver {
  border-color: #999;
}

.b--light-silver {
  border-color: #aaa;
}

.b--light-gray {
  border-color: #eee;
}

.b--near-white {
  border-color: #f4f4f4;
}

.b--white {
  border-color: #fff;
}

.b--white-10 {
  border-color: hsla(0, 0, 100%, .1);
}

.b--white-25 {
  border-color: hsla(0, 0, 100%, .25);
}

.b--white-50 {
  border-color: hsla(0, 0, 100%, .5);
}

.b--white-75 {
  border-color: hsla(0, 0, 100%, .75);
}

.b--black-10 {
  border-color: hsla(0, 0, 0,    .1);
}

.b--black-25 {
  border-color: hsla(0, 0, 0,    .25);
}

.b--black-50 {
  border-color: hsla(0, 0, 0,    .5);
}

.b--black-75 {
  border-color: hsla(0, 0, 0,    .75);
}

.bvar(--blue {
  border-color: #0074D9;
}

.bvar(--light-blue {
  border-color: #64a8ff;
}

.bvar(--lightest-blue {
  border-color: #a2dfff;
}

.bvar(--dark-blue {
  border-color: #0045a1;
}

.bvar(--darkest-blue {
  border-color: #002f86;
}

.bvar(--yellow {
  border-color: #fff93c;
}

.bvar(--light-yellow {
  border-color: #fffa60;
}

.bvar(--lightest-yellow {
  border-color: #fffca6;
}

.bvar(--dark-yellow {
  border-color: #e2c100;
}

.bvar(--darkest-yellow {
  border-color: #c4a600;
}

.bvar(--orange {
  border-color: #FF851B;
}

.bvar(--light-orange {
  border-color: #ffa942;
}

.bvar(--lightest-orange {
  border-color: #ffc55d;
}

.bvar(--dark-orange {
  border-color: #d05e00;
}

.bvar(--darkest-orange {
  border-color: #b14400;
}

.bvar(--red {
  border-color: #d82c2c;
}

.bvar(--light-red {
  border-color: #f94f44;
}

.bvar(--lightest-red {
  border-color: #ff6c5c;
}

.bvar(--dark-red {
  border-color: #bd001a;
}

.bvar(--darkest-red {
  border-color: #9d0003;
}

.bvar(--teal {
  border-color: #27bfa8;
}

.bvar(--light-teal {
  border-color: #4eddc5;
}

.bvar(--lightest-teal {
  border-color: #6ffae0;
}

.bvar(--dark-teal {
  border-color: #25a28f;
}

.bvar(--darkest-teal {
  border-color: #008876;
}

.bvar(--green {
  border-color: #3D9970;
}

.bvar(--light-green {
  border-color: #5ab48a;
}

.bvar(--lightest-green {
  border-color: #75d0a4;
}

.bvar(--dark-green {
  border-color: #1e7f58;
}

.bvar(--darkest-green {
  border-color: #006540;
}

.bvar(--pink {
  border-color: #F012BE;
}

.bvar(--light-pink {
  border-color: #ff57e8;
}

.bvar(--lightest-pink {
  border-color: #ff81ff;
}

.bvar(--dark-pink {
  border-color: #d100a3;
}

.bvar(--darkest-pink {
  border-color: #b20088;
}

.bvar(--purple {
  border-color: #980bc6;
}

.bvar(--light-purple {
  border-color: #b536e2;
}

.bvar(--lightest-purple {
  border-color: #d355ff;
}

.bvar(--dark-purple {
  border-color: #7b00a9;
}

.bvar(--darkest-purple {
  border-color: #5f008e;
}