@custom-media --breakpoint-not-small screen and (max-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BORDER COLORS

 */

.b--black {        border-color: var(--black); }
.b--near-black {   border-color: var(--near-black); }
.b--dark-gray {    border-color: var(--dark-gray); }
.b--mid-gray {     border-color: var(--mid-gray); }
.b--gray {         border-color: var(--gray); }
.b--silver {       border-color: var(--silver); }
.b--light-silver { border-color: var(--light-silver); }
.b--light-gray {   border-color: var(--light-gray); }
.b--near-white {   border-color: var(--near-white); }
.b--white {        border-color: var(--white); }

.b--white-10 {   border-color: hsla(0, 0, 100%, .1); }
.b--white-25 {   border-color: hsla(0, 0, 100%, .25); }
.b--white-50 {   border-color: hsla(0, 0, 100%, .5); }
.b--white-75 {   border-color: hsla(0, 0, 100%, .75); }
.b--black-10 {   border-color: hsla(0, 0, 0,    .1); }
.b--black-25 {   border-color: hsla(0, 0, 0,    .25); }
.b--black-50 {   border-color: hsla(0, 0, 0,    .5); }
.b--black-75 {   border-color: hsla(0, 0, 0,    .75); }

.bvar(--blue { border-color: var(--blue); }
.bvar(--light-blue { border-color: var(--light-blue); }
.bvar(--lightest-blue { border-color: var(--lightest-blue); }
.bvar(--dark-blue { border-color: var(--dark-blue); }
.bvar(--darkest-blue { border-color: var(--darkest-blue); }
.bvar(--yellow { border-color: var(--yellow); }
.bvar(--light-yellow { border-color: var(--light-yellow); }
.bvar(--lightest-yellow { border-color: var(--lightest-yellow); }
.bvar(--dark-yellow { border-color: var(--dark-yellow); }
.bvar(--darkest-yellow { border-color: var(--darkest-yellow); }
.bvar(--orange { border-color: var(--orange); }
.bvar(--light-orange { border-color: var(--light-orange); }
.bvar(--lightest-orange { border-color: var(--lightest-orange); }
.bvar(--dark-orange { border-color: var(--dark-orange); }
.bvar(--darkest-orange { border-color: var(--darkest-orange); }
.bvar(--red { border-color: var(--red); }
.bvar(--light-red { border-color: var(--light-red); }
.bvar(--lightest-red { border-color: var(--lightest-red); }
.bvar(--dark-red { border-color: var(--dark-red); }
.bvar(--darkest-red { border-color: var(--darkest-red); }
.bvar(--teal { border-color: var(--teal); }
.bvar(--light-teal { border-color: var(--light-teal); }
.bvar(--lightest-teal { border-color: var(--lightest-teal); }
.bvar(--dark-teal { border-color: var(--dark-teal); }
.bvar(--darkest-teal { border-color: var(--darkest-teal); }
.bvar(--green { border-color: var(--green); }
.bvar(--light-green { border-color: var(--light-green); }
.bvar(--lightest-green { border-color: var(--lightest-green); }
.bvar(--dark-green { border-color: var(--dark-green); }
.bvar(--darkest-green { border-color: var(--darkest-green); }
.bvar(--pink { border-color: var(--pink); }
.bvar(--light-pink { border-color: var(--light-pink); }
.bvar(--lightest-pink { border-color: var(--lightest-pink); }
.bvar(--dark-pink { border-color: var(--dark-pink); }
.bvar(--darkest-pink { border-color: var(--darkest-pink); }
.bvar(--purple { border-color: var(--purple); }
.bvar(--light-purple { border-color: var(--light-purple); }
.bvar(--lightest-purple { border-color: var(--lightest-purple); }
.bvar(--dark-purple { border-color: var(--dark-purple); }
.bvar(--darkest-purple { border-color: var(--darkest-purple); }

